/**
 * RealGrid 기본 스타일
 * - 레이아웃
 * - 컨테이너
 */

.realgrid-wrapper {
  width: 100%;
  /* height 제거: 부모 높이 없으면 0px 되는 문제 방지 */
  /* flex 레이아웃 제거: 자식 컨텐츠에 따라 자동 조정 */
}

.realgrid-container {
  width: 100%;
  /* flex: 1 제거: inline style height와 충돌 방지 */
  min-height: 200px; /* 최소 높이 보장 */
}
