management:
  tracing:
    enabled: true
    sampling:
      probability: 0.1
  otlp:
    tracing:
      endpoint: ${OTEL_EXPORTER_OTLP_ENDPOINT:http://localhost:4318/v1/traces}
      compression: gzip
      headers:
        Authorization: ${OTEL_EXPORTER_OTLP_HEADERS:}
logging:
  pattern:
    level: "%5p trace_id=%X{traceId:-} span_id=%X{spanId:-}"
